.profile__adder {
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.profile__adder:hover {
  opacity: .5;
  transition-duration: 1.5s;
}

@media screen and (max-width: 920px) {
  .profile__adder {
    width: 277px;
  }
}